/* filter */
.filter{
    width: 100%;
    background-color: black;
    border-bottom: 1px solid #dc4c2c;
    text-align: center;
}


.productosConteiner {
    display: grid;
    background-color: var(--theme-background-color);
    margin: 0 auto;
    text-align: center;
    grid-template-columns: auto auto auto auto;
    gap: 67px;
    width: 100%;
    justify-content: center;
}
.icon1 {
    font-size: 1.3rem;
    margin-left: 9px;
}

/* end filter */
