/* filter */
.filterTotal{
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #dc4c2c;
}
.filter{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    background-color: black;
    text-align: center;
    padding: 5px;
}
.btnFilter {
    background-color: var(--theme-background-color);
    border-radius: 11px;
}
.btnFilter :hover {
    background-color:#dc4c2c;
    border-radius: 11px;
}
.dropdown-filter {
    display: block;
    padding: 0px 1.5rem;
    color: var( --theme-color);
}


.productosConteiner {
    display: grid;
    background-color: var(--theme-background-color);
    padding:  2rem 0;
    text-align: center;
    grid-template-columns: auto auto auto auto;
    gap: 67px;
    width: 100%;
    justify-content: center;
}
.icon1 {
    font-size: 1.3rem;
    margin-left: 9px;
}

/* end filter */
