/* filter */
.filter{
    width: 100%;
    background-color: black;
    border-bottom: 1px solid #dc4c2c;
    text-align: center;
}


.productosConteiner {
    display: grid;
    background-color: var(--theme-background-color);
    padding:  2rem 0;
    text-align: center;
    grid-template-columns: auto auto auto auto;
    gap: 67px;
    width: 100%;
    justify-content: center;
}
.icon1 {
    font-size: 1.3rem;
    margin-left: 9px;
}

/* end filter */

@media(max-width:768px) {
    .productosConteiner {
        margin: 0 auto;
        grid-template-columns:auto auto;
        gap: 67px;
    }
}
@media(max-width:540px) {
    .productosConteiner {
        margin: 0 auto;
        grid-template-columns:auto auto;
        gap: 20px;
    }
}
@media(max-width:320px) {
    .productosConteiner {
        margin: 0 auto;
        grid-template-columns:auto;
        gap: 20px;
    }
} 
