.contHome{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: var(--theme-background-color);
    color: var( --theme-color);
    padding: 40px 12rem;
}
.contenedorBannerText{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.textoCont h1 {
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}
.textoCont p {
    font-size: 1.2rem;
    text-align: center;
}
.linksCont{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.iconCont{
    font-size: 2rem;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: var( --theme-color)
}
.imgHome img{
    height: 25rem;
}
.productosConteinerHome{
    display: flex;
    flex-direction: row;
    background-color: var(--theme-background-color);
    padding: 2rem 0;
    text-align: center;
    gap: 67px;
    width: 100%;
    justify-content: center;
}
.contenedorPremium{
    background-color: var(--theme-background-color);
    color: var( --theme-color);
}
