.mayorHeader {
    display: flex;
    height: 6rem;
    justify-content: space-evenly;
    background-color: var(--theme-background-color);
    align-items: center;
    border-bottom: 4px #dc4c2c solid;
}
.logo-navBar{
    height: 86%;
    border-radius: 50%;
    background-color: var(--theme-background-color);
    color:var(--color-black);
    cursor: pointer;
    border: solid 3px #dc4c2c;
}
.logo-navBar img {
    width: 6rem;
}
/* search */
/* SearchBar */
.logo_Buscador {
    display: flex;
    justify-content: space-between;
}

.header_searchBar {
    border-radius: 5px;
    border: 2px solid #dc4c2c;
    padding: 0.5rem;
    background-color: var(--theme-background-color);
    color: gray;
}
  .header_searchBar form {
    align-items: center;
    justify-content: space-between;
    color: gray;
  }
  
  .header_searchBar form input {
    border: none;
    background: var(--theme-background-color);
  }
  
  .header_searchBar form input:focus {
    outline: none;
  }
  
  .header_searchBar form input::placeholder {
    text-transform: uppercase;
    color: gray;
  }
  
  .header_searchBar form button {
    background-color: var(--theme-background-color);
    border: none;
    border-radius: 5px;
    color: gray;
    font-size: 1.2rem;
    height: 2.5rem;
    width: 2rem;
    transition: ease-in;
  }
  
  .header_searchBar form button:hover {
    background-color: rgba(35, 179, 232, 0.1);
    cursor: pointer;
  }
  
  /* END SearchBar */

/* END search */



.h1 {
    float: left;
    margin: 25px;
    color: var(--theme-background-color);;
    font-family: 'Helvetica', sans-serif;
    font-size: 45px;
    font-weight: bold;
    line-height: 45px;
    text-align: center;
}

.options-NavBar {
    display: flex;
    justify-content: space-evenly;
    transition: 0.5ms;
    height: 1rem;
}

.main1, .main2{
    margin: 0 1rem ;
    color: var(--theme-background-color);
}
.main3 {
  position: relative;
  margin: 0 1rem ;
  color: var(--theme-background-color);
}
.contadorCart{
  position: absolute;
  bottom: 11px;
  left: 17px;
  color: antiquewhite;
  background-color: rgb(220, 76, 44);
  border-radius: 15px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0px 5px;
  font-size: 12px;
}
.contadorCartNone{
  display: none;
}
.main1:hover {
  color: white;
}
.main2:hover {
  color: white;
}
.main3:hover {
  color: white;
}
.main4:hover {
  color: white;
}

/* Invisible texto */
.figcaption {
    display:none; 
    transition: all .5s;   
}
  /* Visible texto */
.figure:hover > figcaption {
    display:block;
    transition: all .5s;
}

.svg-inline--fa {
    height: 1rem;
}


/* END NAV-BAR */

@media(max-width:514px) {
  .header_searchBar {
    display: none;
}
.logo-navBar{
  height: 58%;
}
.logo-navBar img {
  width: 4.2rem;
  height: 3.2rem;
}
} 
