*{
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
    box-sizing: border-box;
}
a {
    color: black;
    text-decoration: none; /*sacar subrayado*/
    font-family: 'Overpass', sans-serif;
}
a:hover {
    color: black;
    text-decoration: none;
}

ul{
    list-style: none; /*sacarle las viñetas*/
}
p{
    margin: auto;
}
#root{
    background-image: url(../src/assets//images/banner.jpg);
}
.ContainerDeList, .ContainerDeList2 {
    display: flex;
    width: 100%;
    justify-content: center;
}
.ContainerDeList2 {
    margin-bottom: 2rem;
}
/* NAV-BAR */

.mayorHeader {
    display: flex;
    height: 6rem;
    justify-content: space-evenly;
    background-color: #741c44;
    align-items: center;
    border-bottom: 4px #dc4c2c solid;
}
.logo-navBar{
    height: 86%;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    border: solid 3px #dc4c2c;
}
.logo-navBar img {
    width: 6rem;
    height: rem;
}
/* search */
/* SearchBar */
.logo_Buscador {
    display: flex;
    justify-content: space-between;
}

.header_searchBar {
    border-radius: 5px;
    border: 2px solid #dc4c2c;
    padding: 0.5rem;
    background-color: white;
    color: gray;

}
  .header_searchBar form {
    align-items: center;
    justify-content: space-between;
    color: gray;
  }
  
  .header_searchBar form input {
    border: none;
    background: white;
  }
  
  .header_searchBar form input:focus {
    outline: none;
  }
  
  .header_searchBar form input::placeholder {
    text-transform: uppercase;
    color: gray;
  }
  
  .header_searchBar form button {
    background-color: white;
    border: none;
    border-radius: 5px;
    color: gray;
    font-size: 1.2rem;
    height: 2.5rem;
    width: 2rem;
    transition: all 0.5s ease-in;
  }
  
  .header_searchBar form button:hover {
    background-color: rgba(35, 179, 232, 0.1);
    cursor: pointer;
  }
  
  /* END SearchBar */

/* END search */



.h1 {
    float: left;
    margin: 25px;
    color: #333;
    font-family: 'Helvetica', sans-serif;
    font-size: 45px;
    font-weight: bold;
    line-height: 45px;
    text-align: center;
}

.options-NavBar {
    display: flex;
    justify-content: space-evenly;
    transition: 0.5ms;
    height: 1rem;
}
.options-NavBar :hover{
    color: white;
}
.main1, .main2 , .main3{
    margin: 0 1rem ;
    color: #741c44;
}
.main1, .main2 , .main3 :hover {
    display: flex;
    flex-direction: column;
}
/* Invisible texto */
.figcaption {
    display:none; 
    transition: all .5s;   
}
  /* Visible texto */
.figure:hover > figcaption {
    display:block;
    transition: all .5s;
}

.svg-inline--fa {
    height: 1rem;
}

/* END NAV-BAR */

/* ITEM LIST CONTAINER */
.contenedorItem{
    width:14rem; 
    margin-top:1rem; 
    margin-left:4rem;
    border-radius: 11px;

}
.Button-Carrito{
    width: 100%;
    background-color: #dc4c2c;
    color: white;
    border: solid 2px black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: bold;
    border-radius: 4px;
}
.btn5{
    background-color: white;
    color: black;
}
.imagesItem{
    display:flex; 
    height:16.5rem; 
}
.imagesItem img {
    display: flex;
    width: 100%;
    height: 16.5rem;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
    cursor: pointer;
    -webkit-box-shadow: 1px 1px 18px 0px rgb(0 0 0 / 30%)
}
.contenedorData{
    background-color:gray;
    height: 2rem;
}
.contenedorData h4 {
    text-align:center;
    color: white;
    font-size: 9px;
}
.priceAndBuy {
    display:flex; 
    justify-content:space-evenly;
    height: 13px;
}
.h5Productos{
    color: white;
    text-align: center;
    background-color: black;
    font-size: 9px;
}
/* END ITEM LIST CONTAINER */



/* FOOOOOTER */
.footerDesign {
    background-color: #741c44;
    display: flex;
    justify-content: space-around;
    font-size: small;
    border-top: 4px #dc4c2c solid;
    color: white;
    margin-top: 3rem;
}
.Contacto-footer .Politicas-footer{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.Contacto-footer h3 , .Politicas-footer h3 , .Seguinos-footer h3{
    color: #dc4c2c;
}
.Seguinos-footer {
    display: flex;
    flex-direction: column;
}
.footerIcon {
    display: flex;
    justify-content: center;
}
.footerIcon2 {
    display: flex;
    justify-content: center;
}
/* END FOOOOOTER */

/* filter */
.filter{
    width: 100%;
    background-color: black;
    border-bottom: 1px solid #dc4c2c;
    text-align: center;
}


.productosConteiner{
    display: grid;
    align-content: center;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.icon1 {
    font-size: 1.3rem;
    margin-left: 9px;
}


/* CARRITO */

.contenidoEntero{
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
    padding-bottom: 13.4rem;
}
.encerrandoCarro{
    margin: auto 0;
    overflow-y: scroll;
    box-sizing: none;
    -webkit-box-shadow: 1px 1px 18px 0px black;
}
.totalCarrito {
    display: flex;
    flex-direction: column;
    position: relative;
}
.eliminarBorrar {
    display: block;
    position: absolute;
    right: 1.2rem;
    top: 0.5rem;
    color: black;
    font-size: 10px;
    font-weight: 700;
    cursor: pointer;
}
.productoEnCarrito {
    
    display: flex;
    justify-content: space-evenly;
    width: 40rem;
    margin-bottom: 6px;
    border-radius: 5px;
    background-color: #741c44;
    color: rgb(191, 157, 157);;
}
.imagenTotalProducto{
    height: 100%;
    width: 40%;
}
.imagenTotalProducto img {
    height: 8rem;
    margin: 0.4rem;  
}
.nombreDelProducto{
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    width: 60%;
}
.numerosCarritos {
    display: flex;
    justify-content: space-around;
    padding-top: 1.5rem;
    text-align: center;
}
.separadorMax{
    width: 50%;
}
.codigoDescuento {
    padding: 2.5rem 0;
    box-sizing: 0px white   ;
    -webkit-box-shadow: 1px 1px 18px 0px black; 
    text-align: center; 
    width: 98%;
    margin-left: 1%;
    margin-bottom: 2px;
    border-radius: 6px;
    background-color: #741c44;
    color: rgb(191, 157, 157);;
}
.cuponDescuento {
    text-align: center;
}
.barraDeDescuento {
    display: flex;
    justify-content: center; 
    height: 10%;
}
.coupon-value{
    padding-bottom: 0px;
    display: flex;
    margin: 4px 0;
}
.btnAplicar{
    margin-left: 0.5rem;
    margin-top: 4px;
    height: 77%;
    width: 6rem;
}
.totalYsubtotal {
    display: flex;
    flex-direction: column;
    box-sizing: 0px white;
    -webkit-box-shadow: 0px 1px 18px 0px black;
    width: 98%;
    margin-left: 1%;
    margin-bottom: 3rem;
    border-radius: 5px;
    background: #741c44;
    color: rgb(191, 157, 157);
}
.subTotalCarrito {
    display: flex;
    margin: 0.5rem 0;
    justify-content: space-between;
    width: 97%;
    background: #741c44;
}
.submit-Compra {
    width: 98%;
    padding: 5px 0;
    margin: 4px 6px;
    color: rgb(191, 157, 157);
    font-weight: 600;
    background-color: black;
}
